<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>WYUR - Listen</title>
		<link rel="icon" type="image/png" href="/images/favicon.png">
    </head>
    <body>
        <div id="container">
			<div id="main">
				<span>Player goes here</span>
			</div>
		</div>
    </body>
</html>
