.clear	{
	clear: both;
}

a	{
	color: inherit;
	text-decoration: inherit;
}
a:hover	{
	text-decoration: underline;
	color: inherit;
}

html	{
	background-color: #dadada;
	padding-top: 39px;
	padding-bottom: 20px;
}
body	{
	background-color: inherit;
	font-family: 'Armata', sans-serif;
	background: url("/images/header-bg-stretch.png") repeat-x;
}
h1	{
	text-transform: uppercase;
	font-size: 48px;
	margin-left: 40px;
	margin-bottom: 30px;
}

#container	{
	color: #005d5f;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

#header	{
	color: #34d6d9;
	height: 131px;
	background: url("/images/header-bg.png") no-repeat;
}
#header img	{
	display: inline;
	margin-top: 13px;
	margin-left: 60px;
}
#header ul	{
	float: right;
	margin-top: 18px;
	margin-right: 40px;
}
#header li	{
	display: inline;
	list-style-type: none;
	font-size: 24px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 50px;
}

#main	{
	padding-top: 35px;
}

table#schedule	{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
#schedule td, #schedule th	{
	width: 150px;
	height: 150px;
	border-width: 4px;
	border-style: solid;
	border-color: #005d5f;
	
	text-align: center;
}
#schedule th	{
	border-left-style: none;
	border-top-style: none;
	padding: 10px;
}
#schedule th#day	{
	width: 130px;
	height: 20px;
}
#schedule th#time	{
	width: 40px;
	height: 130px;
}
#schedule th#corner	{
	border-style: none;
	height: 20px;
	width: 40px;
}
#schedule tr:first-child th:last-child	{
	border-right-style: none;
}
#schedule tr:last-child th	{
	border-bottom-style: none;
}
#schedule td	{
	background-color: #c4cdcd;
	font-size: 12px;
}
table#schedule img	{
	width: 105px;
	height: 105px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6px;
	padding-bottom: 10px;
	display: block;
}

#showMain	{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}
#showMain strong	{
	font-size: 24px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}
#showTop	{
	padding-bottom: 30px;
}
#showTop img	{
	float: left;
	width: 260px;
	height: 260px;
	padding-right: 30px;
}
#showTop strong	{
	margin-top: 15px;
	margin-bottom: 10px;
}
#showDescription	{
	padding-bottom: 30px;
	font-size: 14px;
}
#showDescription strong	{
	display: inline;
	font-size: inherit;
}
#showPlayer strong	{
	font-size: 14px;
}
#showPlayer iframe	{
	margin-top: 10px;
}


#showList	{
	margin-left: 120px;
}
#showList li	{
	list-style-type: none;
	text-transform: uppercase;
}
#showList li a	{
	display: block;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 20px;
}
#showList li span	{
	display: block;
	padding-bottom: 15px;
	padding-left: 35px;
}


#cmsPage	{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}


#homepageListen	{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	padding: 40px;
}