{% extends '::base.html.twig' %}

{% block title %}My cool page{% endblock %}

{% block body %}
	<h1>{{ show.name }}</h1>
	<div id="showTop">
		{% if show.image != null %}
			<img src="{{ vich_uploader_asset(show, 'imageFile') }}" alt="{{ show.name }} image" />
		{% endif %}
	</div>
	<br />
    <br />{% if show.description %}{{ show.description|bbcode_filter('main_filter') }}{% endif %}
{% endblock %}